
@model MovieForm
<form asp-action="MovieForm" method="post">
    <div>
        <label asp-for="Category">Category:</label>
        <input asp-for="Category" required />
    </div>
    <br />
    <div>
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" required />
    </div>
    <br />
    <div>
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" required />
    </div>
    <br />
    <div>
        <label asp-for="DirectorFirst">Director First Name:</label>
        <input asp-for="DirectorFirst" required />
    </div>
    <br />
    <div>
        <label asp-for="DirectorLast">Director Last Name:</label>
        <input asp-for="DirectorLast" required />
    </div>
    <br />
    <div>
        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating" required>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
    </div>
    <br />
    <div>
        <label asp-for="Edited">Edited:</label>
        <select asp-for="Edited">
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>
    </div>
    <br />
    <div>
        <label asp-for="Lent">Lent To:</label>
        <input asp-for="Lent" />
    </div>
    <br />
    <div>
        <label asp-for="Notes">Notes:</label><br />
        <textarea rows="5" maxlength="25" asp-for="Notes"></textarea>
    </div>
    <br /><br />
    <div asp-validation-summary="All"></div>
    <button type="submit">Submit</button>
</form>